$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$componentPath: '../scripts/components';
$sharedPath: '../scripts/shared';

// components
@import '../scripts/components/welcome/welcome';

body
{
	font-family: 'Raleway', sans-serif;
  color: rgba(60, 60, 60, 1);
}